td, th {
	width: 200px;
}

th {
font-style: oblique;
font-size: 16px;
}

/*td {
	background-color: gray;
}*/

.edit {
	color: blue;
}

#id {
color: red;
};


.train-row {
cursor:pointer;
}

.btn btn-primary btn-md {
	padding-top: 25px;
}


.train-row:hover {
    background-color: lightyellow;
}