td, th {
	width: 200px;
}

th {
font-style: oblique;
font-size: 16px;
}


.train-row {
cursor:pointer;
}

.btn btn-primary btn-md {
	padding-top: 25px;
	padding-left: 25px;
}


.train-row:hover {
    background-color: lightyellow;
}

.hilite {
    background-color: lightyellow;
}


.visible {
	display: inline;
}

.hidden {
	display: none;
}

.buttonBlock {
	  display: inline;

}

body {
    background-image: url("../images/rockisland1937.jpg");
    background-repeat: no-repeat;

background-position: 0px 620px;
background-color: gray;
}


h1 {
	font-family: 'Diplomata SC', cursive;
}

.subhead {
	font-family: 'Oswald', sans-serif;

}