td, th {
	width: 200px;
}

th {
font-style: oblique;
font-size: 16px;
}


.train-row {
cursor:pointer;
}

.btn btn-primary btn-md {
	padding-top: 25px;
	padding-left: 25px;
}


.train-row:hover {
    background-color: lightyellow;
}


.visible {
	visibility: visible
}

.hidden {
	visibility: hidden
}